.star{
    color: red;
}
.fa{
    color: gold;
}
.form{
    padding: 10px ;
}
tr,td,th{
    padding:5px 20px;
}
table,tr{
    text-align: center;
}
tr:nth-child(even){
    background-color: rgb(197, 194, 194);
}
input[type=email]{
    width: 33.5%;
}
.headers{
    text-align: left;
}